<html>
<head>
{% load staticfiles %}
<!-- 新 Bootstrap 核心 CSS 文件 -->
<link rel="stylesheet" href="//cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css">

<!-- 可选的Bootstrap主题文件（一般不用引入） -->
<link rel="stylesheet" href="//cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">

<!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
<script src="//cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>

<!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
<script src="//cdn.bootcss.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>
</title>
</head>
<script language="javascript"> 
function clickstar(type,index){
    $("[data-toggle='tooltip']").tooltip('destroy');
    var id_pre = "#"+type+'-';
    for(var i=1;i<=index;i++){
       var id = id_pre+i;
       $(id).html("<img src=\"{% static "images/img-full-star.png" %}\" width=7%  border=\"none\">");
    }
    for(var i=index+1;i<=5;i++){
       var id = id_pre+i;
       $(id).html("<img src=\"{% static "images/img-full-star-grey.png" %}\" width=7%  border=\"none\">");
    }
    
    tipid = id_pre+index;
    $(tipid).tooltip('show');
    id = "#"+type;
    $(id).val(index.toString());
}
function posteva(){
    $("[data-toggle='tooltip']").tooltip('destroy');
    if($("#eva_content").val() ==""){
        $("#modalcontent").html(" <span style=\"padding:0% 20%\">亲，必须要填写评论哦 ^_^</span>");
        $("#postok").modal("show"); 
        return ;
    }
    $.post('/weixin/client/add', {csrfmiddlewaretoken:$("[name=csrfmiddlewaretoken]").val(), name: $("#name").val(), projectname: $("#projectname").val(), eva_progress: $('#pro').val(),eva_quality: $('#qua').val(),eva_service: $("#ser").val(), eva_content: $("#eva_content").val()}, function (data) { 
            if(data == "ok"){
               $("#modalcontent").html(" <span style=\"padding:0% 20%\"> 非常感谢您的宝贵意见 ^_^</span>");
               $("#postok").modal("show"); 
               $("#submitBtn").html("已评价");
               $("#submitBtn").attr("disabled",true);
               $("#eva_content").attr("disabled",true);
               $("[href='#']").removeAttr("onclick");
            }
            else if(data=="fail"){
               $("#modalcontent").html(" <span style=\"padding:0% 20%\">-_- 出错了,请重新提交 </span>");
               $("#postok").modal("show"); 
            } 
            });
}    
{%if eva_progress > 0 %}
$(document).ready(function() {
    clickstar("pro",{{eva_progress}});
    clickstar("qua",{{eva_quality}});
    clickstar("ser",{{eva_service}});
    $("#eva_content").html("{{eva_content}}");
    $("#submitBtn").html("已评价");
    $("#eva_content").attr("disabled",true);
    $("#submitBtn").attr("disabled",true);
    $("[href='#']").removeAttr("onclick");
    $("[data-toggle='tooltip']").tooltip('destroy');
});

{%endif%}
</script>
<body>
<div style="margin:5% 10%" class="panel panel-default">
    <div class="panel-body">
        厘米脚印邀请您对我们在「{{projectname}}」项目中的表现进行评价
    </div>
</div>
<div>
    <form method="post" action="/weixin/client/add"  style="margin:0% 10%">
        {% csrf_token %}
        <div class="form-group">
            <input type="hidden" class="form-control" id="name" name="name" value="{{name}}">
        </div>
        <div class="form-group">
            <input type="hidden" class="form-control" id="projectname" name="projectname" value="{{projectname}}">
        </div>
        <div class="form-group">
            <input type="hidden" class="form-control" id="pro" name="eva_progress" value="3">
        </div>
        <div class="form-group">
            <input type="hidden" class="form-control" id="qua" name="eva_quality" value="3">
        </div>
        <div class="form-group">
            <input type="hidden" class="form-control" id="ser" name="eva_service" value="3">
        </div>
        <div class="form-group">
                <span style="top:2px">进度&nbsp&nbsp</span>
                <a href="#" id="pro-1" onclick=clickstar("pro",1)  data-toggle="tooltip" data-placement="top" title="超级混乱" style="width:50%">
                    <img src="{% static "images/img-full-star.png" %}" width=7%  border="none">
                </a>
                <a href="#" id="pro-2" onclick=clickstar("pro",2)  data-toggle="tooltip" data-placement="top" title="项目菜鸟" style="width:50%">
                    <img src="{% static "images/img-full-star.png" %}" width=7%  border="none">
                </a>
                <a href="#" id="pro-3" onclick=clickstar("pro",3)  data-toggle="tooltip" data-placement="top" title="普通" style="width:50%">
                    <img src="{% static "images/img-full-star.png" %}" width=7%  border="none">
                </a>
                <a href="#" id="pro-4" onclick=clickstar("pro",4)  data-toggle="tooltip" data-placement="top" title="高级经理" style="width:50%">
                    <img src="{% static "images/img-full-star-grey.png" %}" width=7%   border="none">
                </a>
                <a href="#" id="pro-5" onclick=clickstar("pro",5)  data-toggle="tooltip" data-placement="top" title="掌控者" style="width:50%">
                    <img src="{% static "images/img-full-star-grey.png" %}" width=7%   border="none">
                </a>
                <span id="pro-6" style="top:2px"></span>
        </div>
        <div class="form-group">
                <span style="top:2px">质量&nbsp&nbsp</span>
                <a href="#" id="qua-1" onclick=clickstar("qua",1) data-toggle="tooltip" data-placement="top" title="垃圾" style="width:50%">
                    <img src="{% static "images/img-full-star.png" %}" width=7%  border="none">
                </a>
                <a href="#" id="qua-2" onclick=clickstar("qua",2) data-toggle="tooltip" data-placement="top" title="不太满意" style="width:50%">
                    <img src="{% static "images/img-full-star.png" %}" width=7%  border="none">
                </a>
                <a href="#" id="qua-3" onclick=clickstar("qua",3) data-toggle="tooltip" data-placement="top" title="还行" style="width:50%">
                    <img src="{% static "images/img-full-star.png" %}" width=7%  border="none">
                </a>
                <a href="#" id="qua-4" onclick=clickstar("qua",4) data-toggle="tooltip" data-placement="top" title="质量上乘" style="width:50%">
                    <img src="{% static "images/img-full-star-grey.png" %}" width=7%   border="none">
                </a>
                <a href="#" id="qua-5" onclick=clickstar("qua",5) data-toggle="tooltip" data-placement="top" title="极品" style="width:50%">
                    <img src="{% static "images/img-full-star-grey.png" %}" width=7%   border="none">
                </a>
        </div>
        <div class="form-group">
                <span style="top:2px">服务&nbsp&nbsp</span>
                <a href="#" id="ser-1" onclick=clickstar("ser",1) data-toggle="tooltip" data-placement="top" title="态度恶劣" style="width:50%">
                    <img src="{% static "images/img-full-star.png" %}" width=7%  border="none">
                </a>
                <a href="#" id="ser-2" onclick=clickstar("ser",2) data-toggle="tooltip" data-placement="top" title="反应迟缓" style="width:50%">
                    <img src="{% static "images/img-full-star.png" %}" width=7%  border="none">
                </a>
                <a href="#" id="ser-3" onclick=clickstar("ser",3) data-toggle="tooltip" data-placement="top" title="意料之中" style="width:50%">
                    <img src="{% static "images/img-full-star.png" %}" width=7%  border="none">
                </a>
                <a href="#" id="ser-4" onclick=clickstar("ser",4) data-toggle="tooltip" data-placement="top" title="惊喜" style="width:50%">
                    <img src="{% static "images/img-full-star-grey.png" %}" width=7%   border="none">
                </a>
                <a href="#" id="ser-5" onclick=clickstar("ser",5) data-toggle="tooltip" data-placement="top" title="好极了" style="width:50%">
                    <img src="{% static "images/img-full-star-grey.png" %}" width=7%   border="none">
                </a>
        </div>
        <div class="form-group">
             <textarea rows="4" cols="20" class="form-control" id="eva_content" name="eva_content" placeholder="您的评价很重要!来点评一下吧" required></textarea>
        </div>
        <button type="button" onclick=posteva()  style="width:100%" id="submitBtn"  class="btn btn-default">提交评价</button>
    </form>
</div>


<div id="postok" class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
    <div class="modal-dialog modal-sm">
        <div id="modalcontent" class="modal-content">
            非常感谢您的宝贵意见 ^_^
        </div>
          </div>
      </div>
</body>
