<html>
<head>
{% load staticfiles %}
<!-- 新 Bootstrap 核心 CSS 文件 -->
<link rel="stylesheet" href="//cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css">

<!-- 可选的Bootstrap主题文件（一般不用引入） -->
<link rel="stylesheet" href="//cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">

<!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
<script src="//cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>

<script src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
<script type="text/javascript" src="{% static "js/weixinshare.js"%}"></script>
<script src="//cdn.bootcss.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, minimum-scale=1.0">
<title>
    {{projectname}}
</title>
<style>
head{
font-family: 微软雅黑,宋体;
}
body{
font-family: 微软雅黑,宋体;
}
</style>
</head>
<script language="javascript"> 
function clickstar(type,index){
    $("[data-toggle='tooltip']").tooltip('destroy'); 
    var id_pre = "#"+type+'-';
    for(var i=1;i<=index;i++){
       var id = id_pre+i;
       $(id).html("<img src=\"{% static "images/img-full-star.png" %}\" width=7%  border=\"none\">");
    }
    for(var i=index+1;i<=5;i++){
       var id = id_pre+i;
       $(id).html("<img src=\"{% static "images/img-full-star-grey.png" %}\" width=7%  border=\"none\">");
    }
    tipid = id_pre+6;
    tipindex = id_pre+index;
    $(tipid).html("&nbsp&nbsp&nbsp"+$(tipindex).attr('title'));
    id = "#"+type;
    $(id).val(index.toString());
}
function hidepopupdialog(){
    $("#popup").hide();
}
function posteva(){
    setTimeout("hidepopupdialog()",1000);
    if($("#eva_content").val() ==""||$("#req").val()=="0"||$("#man").val()=="0"||$("#com").val()=="0"){
        $("#popup").html(" 亲，评价必须填完哦 ~ ^_^ ~");
        $("#popup").show();
        return ;
    }
    $.post('/weixin/freelancer/add', {csrfmiddlewaretoken:$("[name=csrfmiddlewaretoken]").val(), name: $("#name").val(), projectname: $("#projectname").val(), eva_requirement: $('#req').val(),eva_management: $('#man').val(),eva_communication: $("#com").val(), eva_content: $("#eva_content").val()}, function (data) { 
            if(data == "ok"){
               $("#popup").html("  非常感谢您的宝贵意见 ~ ^_^ ~");
               $("#popup").show();
               $("#submitBtn").css("background",'#B6B6B4');
               $("#submitBtn").html("已评价");
               $("#submitBtn").attr("disabled",true);
               $("#eva_content").attr("disabled",true);
               $("[href='#']").removeAttr("onclick");
            }
            else if(data=="fail"){
               $("#popup").html(" -_- 出错了,请重新提交");
               $("#popup").show();
            } 
            });
}    
{%if eva_requirement > 0 %}
$(document).ready(function() {
    clickstar("req",{{eva_requirement}});
    clickstar("man",{{eva_management}});
    clickstar("com",{{eva_communication}});
    $("#eva_content").html("{{eva_content}}");
    $("#submitBtn").html("已评价");
    $("#submitBtn").css("background",'#B6B6B4');
    $("#eva_content").attr("disabled",true);
    $("#submitBtn").attr("disabled",true);
    $("[href='#']").removeAttr("onclick");
    var data={
            title : "{{projectname}}",
            link  : 'http://' + window.location.hostname + "/weixin/freelancer?name={{name}}&projectname={{projectname}}",
            imgUrl : 'http://' + window.location.hostname + '/static/images/logo.png',
            desc : '厘米脚印邀请您对我们在「{{projectname}}」项目中的表现进行评价。',
        };
    configWechat(data);
});
{% else %}

$(document).ready(function() {
    var height = $(window).height() - $("#submitBtn").height();
    $("#exbutton").height(height);
    var data={
            title : "{{projectname}}",
            link  : 'http://' + window.location.hostname + "/weixin/freelancer?name={{name}}&projectname={{projectname}}",
            imgUrl : 'http://' + window.location.hostname + '/static/images/logo.png',
            desc : '厘米脚印邀请您对我们在「{{projectname}}」项目中的表现进行评价。',
        };
    configWechat(data);
});
{%endif%}
</script>
<body>
<div id="exbutton"  onclick=hidepopupdialog()>
<div style="margin:5% 5%;border:none">
    厘米脚印邀请您对我们在「{{projectname}}」项目中的表现进行评价。
</div>
<div>
    <form method="post" action="/weixin/freelancer/add"  style="margin:0% 5%">
        {% csrf_token %}
        <div class="form-group">
            <input type="hidden" class="form-control" id="name" name="name" value="{{name}}">
        </div>
        <div class="form-group">
            <input type="hidden" class="form-control" id="projectname" name="projectname" value="{{projectname}}">
        </div>
        <div class="form-group">
            <input type="hidden" class="form-control" id="req" name="eva_requirement" value="0">
        </div>
        <div class="form-group">
            <input type="hidden" class="form-control" id="man" name="eva_management" value="0">
        </div>
        <div class="form-group">
            <input type="hidden" class="form-control" id="com" name="eva_communication" value="0">
        </div>
        <div class="form-group">
                <span style="position:relative;top:3px">需求&nbsp&nbsp</span>
                <a href="#" id="req-1"   onclick=clickstar("req",1) title="完全不懂" >
                    <img src="{% static "images/img-full-star-grey.png" %}" width=7%   border="none">
                </a>
                <a href="#" id="req-2"  onclick=clickstar("req",2) title="懒惰" >
                    <img src="{% static "images/img-full-star-grey.png" %}" width=7%   border="none">
                </a>
                <a href="#" id="req-3"  onclick=clickstar("req",3) title="内容基础" >
                    <img src="{% static "images/img-full-star-grey.png" %}" width=7%   border="none">
                </a>
                <a href="#" id="req-4"  onclick=clickstar("req",4) title="内容容易理解" >
                    <img src="{% static "images/img-full-star-grey.png" %}" width=7%   border="none">
                </a>
                <a href="#" id="req-5"  onclick=clickstar("req",5) title="专家啊" >
                    <img src="{% static "images/img-full-star-grey.png" %}" width=7%   border="none">
                </a>
                <font color="#41A317" style="position:relative;top:3px" id="req-6"></font>
        </div>
        <div class="form-group">
                <span style="position:relative;top:3px">管理&nbsp&nbsp</span>
                <a href="#" id="man-1"  onclick=clickstar("man",1) title="还不如我来" >
                    <img src="{% static "images/img-full-star-grey.png" %}" width=7%   border="none">
                </a>
                <a href="#" id="man-2"  onclick=clickstar("man",2) title="有时给我添乱" >
                    <img src="{% static "images/img-full-star-grey.png" %}" width=7%   border="none">
                </a>
                <a href="#" id="man-3"  onclick=clickstar("man",3) title="正常的节奏" >
                    <img src="{% static "images/img-full-star-grey.png" %}" width=7%   border="none">
                </a>
                <a href="#" id="man-4"  onclick=clickstar("man",4) title="需求稳妥" >
                    <img src="{% static "images/img-full-star-grey.png" %}" width=7%   border="none">
                </a>
                <a href="#" id="man-5"  onclick=clickstar("man",5) title="工作超级顺畅" >
                    <img src="{% static "images/img-full-star-grey.png" %}" width=7%   border="none">
                </a>
                <font color="#41A317" style="position:relative;top:3px" id="man-6"> </font>
        </div>
        <div class="form-group">
                <span style="position:relative;top:3px">沟通&nbsp&nbsp</span>
                <a href="#" id="com-1"  onclick=clickstar("com",1) title="没法沟通" >
                    <img src="{% static "images/img-full-star-grey.png" %}" width=7%   border="none">
                </a>
                <a href="#" id="com-2"  onclick=clickstar("com",2) title="不会说话" >
                    <img src="{% static "images/img-full-star-grey.png" %}" width=7%   border="none">
                </a>
                <a href="#" id="com-3"  onclick=clickstar("com",3) title="没啥感觉" >
                    <img src="{% static "images/img-full-star-grey.png" %}" width=7%   border="none">
                </a>
                <a href="#" id="com-4"  onclick=clickstar("com",4) title="很亲切" >
                    <img src="{% static "images/img-full-star-grey.png" %}" width=7%   border="none">
                </a>
                <a href="#" id="com-5"  onclick=clickstar("com",5) title="被TA感化了" >
                    <img src="{% static "images/img-full-star-grey.png" %}" width=7%   border="none">
                </a>
                <font color="#41A317" style="position:relative;top:3px" id="com-6"></font>
        </div>
        <div class="form-group">
             <textarea rows="4" cols="20" class="form-control" id="eva_content" name="eva_content" placeholder="您的评价很重要!来点评一下吧" required></textarea>
        </div>
    </form>
</div>
</div>
<button type="button" onclick=posteva()  style="background:#41A317;border-radius:0px;color:white;width:100%;position:fixed;bottom:0px" id="submitBtn"  class="btn btn-default btn-lg">提交评价</button>

<div id="popup" style="color:white;position:absolute;top:30%;display:none;left:20%;padding:5% 5%; background:#666666;filter: Alpha(opacity=60);opacity:0.6;">
         非常感谢您的宝贵意见 ~ ^_^ ~ 
</div>
</body>
